<!DOCTYPE html>
<html lang="id">
<head>
    <title>Dompet Vexanium</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/materials-icon.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <link rel="icon" href="img/vexanium.webp">
</head>
<body class="lighten-1 grey">

<div class="container" id="app">
    <div class="row center"><img class="responsive-img" src="img/vex-logo.svg" alt="Vexanium"></div>

    <div class="card-panel center">
        <h5>Penyimpanan</h5>
        <div class="input-field ">
            <input id="pin" type="password" class="validate" minlength="6" v-model="pin">
            <label for="pin">Sandi</label>
        </div>
        <button class="btn waves-effect waves-ripple" @click="save"><i class="material-icons">save</i></button>
        <button class="btn waves-effect waves-ripple" @click="unlock"><i class="material-icons">lock_open</i></button>
        <button class="btn waves-effect waves-ripple red" @click="clearData"><i class="material-icons">delete</i></button>
    </div>

    <div class="card-panel center">
        <h5>Impor Dompet</h5>
        <div class="input-field col s12 l8 offset-l2">
            <input id="wif" type="password" class="validate" v-model="wif">
            <label for="wif">Kunci Pribadi</label>
        </div>
        <button class="btn waves-effect waves-ripple" @click="addWif"><i class="material-icons">file_download</i></button>
    </div>

    <h5>Dompet</h5>
    <div class="card center" v-for="(it,key, index) in wallets" :key="key">
        <span class="card-title">{{key}}</span>
        <div class="card-content">
            kunci publik: <span class="truncate">{{it.pub}}</span><br>
            <div class="chip" style="cursor: pointer" @click="fetchVexBalance(key)">{{it.vex}}</div>
        </div>
        <div class="card-action right-align">
            <button class="btn-flat waves-effect" @click="selectWallet(key)"><i class="material-icons">folder_open</i>
            </button>
            <button class="btn-flat waves-effect" @click="deleteWallet(key)"><i class="material-icons">delete</i>
            </button>
        </div>
    </div>
</div>
<script src="js/materialize.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/vex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>

<script>
    function encrypt(payload = '', key = '') {
        let message = CryptoJS.AES.encrypt(payload, key);
        return message.toString();
    }

    function decrypt(payload = '', key = '') {
        let code = CryptoJS.AES.decrypt(payload, key);
        return code.toString(CryptoJS.enc.Utf8);
    }

    const V = new Vue({
        el: '#app',
        data: {
            wif: '',
            wallets: {
                'fulan': {pub: 'VEXmenang', key: 'inikuncifulan', vex: '0 VEX'}
            },
            ecc: null,
            vexapi: null,
            pin: ''
        },
        mounted() {
            this.ecc = Eos.modules.ecc;
            this.vexapi = Eos.modules.api({
                httpEndpoint: 'https://api.vex.proit.id'
            });
        },
        methods: {
            async addWif() {
                try {
                    let pubKey = this.ecc.privateToPublic(this.wif);
                    let res = await this.vexapi.getKeyAccounts(pubKey);
                    let account = res.account_names[0];

                    let vex = await this.vexapi.getCurrencyBalance('vex.token', account);

                    V.$set(this.wallets, account, {pub: pubKey, key: this.wif, vex: vex[0]});

                    M.toast({html: 'manambahkan ' + account});
                    this.wif = '';
                } catch (e) {
                    console.log(e);
                    M.toast({html: e.message});
                }
            },
            save() {
                if (!this.pin) {
                    M.toast({html: 'setel sandi dahulu'});
                    return;
                }
                let wal = JSON.stringify(this.wallets);
                let enc = encrypt(wal, this.pin);
                localStorage.setItem('wallets', enc);
                M.toast({html: 'berhasil disimpan'});
            },
            unlock() {
                if (!this.pin) {
                    M.toast({html: 'setel sandi dahulu'});
                    return;
                }
                let raw = localStorage.getItem('wallets');
                if (!raw) {
                    M.toast({html: 'belum pernah impor dompet'});
                    return;
                }
                try {
                    let data = decrypt(raw, this.pin);
                    this.wallets = JSON.parse(data);
                    M.toast({html: 'dompet dibuka'});
                } catch (e) {
                    M.toast({html: 'sandi salah'});
                }
            },
            clearData() {
                localStorage.removeItem('wallets');
                localStorage.removeItem('account');
                sessionStorage.removeItem('pin');
                M.toast({html: 'data dibersihkan'});
            },
            selectWallet(name) {
                localStorage.setItem('account', name);
                sessionStorage.setItem('pin', this.pin);

                this.pin = '';

                window.open('dompet.html', '_self');
            },
            deleteWallet(name) {
                V.$delete(this.wallets, name);
            },
            async fetchVexBalance(account) {
                let vex = await this.vexapi.getCurrencyBalance('vex.token', account);
                this.wallets[account].vex = vex[0];
            }
        }
    });
</script>
</body>
</html>
